<h2> Voici le user n </h2>
<p><%= @user.email%> </p>

<%= link_to "Modifier mon profil", edit_user_registration_path %>
<p>
    <a href="<%= root_path %>" class="btn btn-primary">Revenir aux articles</a>
</p>


