<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<p class= "text-center"><a href="<%= new_event_path %>" class="btn btn-primary">Créer un article</a></p>

<% @event.each do |event| %>
<ul class="list-group">
  
    <tr>
      <li class="list-group-item"><%= event.title %></li>
    </tr>
    </ul>
  <% end %>
